body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.sidebar {
    width: 230px;
    background-color: #333;
    color: white;
    position: fixed;
    padding: 15px;
    height: 95vh;
    /* Altura total da tela */
    overflow-y: scroll;
    scrollbar-width: none;
}

.sidebar h2 {
    text-align: center;
}

.sidebar h2 a {
    color: white;
    text-decoration: none;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li a {
    color: white;
    text-decoration: none;
    padding: 10px;
    display: block;
    transition: background-color 0.3s;
}

.sidebar ul li a h3 {
    margin: 0px;
    font-size: 16px;
}

.sidebar ul li a:hover {
    background-color: #575757;
}

/* Estilo para o submenu */
.submenu {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: none;
    /* Esconde o submenu por padrão */
}

.submenu li {
    margin: 0px;
    /* Remove a margem do submenu */
}

.submenu li a:hover {
    text-decoration: underline;
}

.content {
    margin-left: 260px;
    /* Espaço para a barra lateral */
    padding: 20px;
}


h2 {
    color: #333;
    margin-bottom: 10px;
}

.historico-container {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.filtro-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}

.filtro-container label {
    font-size: 14px;
    color: #333;
}

.filtro-container input[type="date"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    width: 160px;
}

.filtro-container select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

.filtro-container button {
    padding: 6px 12px;
    font-size: 14px;
    background-color: #0078D4;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease;
}

.filtro-container button:hover {
    background-color: #005fa3;
}

.filtro-container button:nth-of-type(2) {
    background-color: #888;
}

.filtro-container button:nth-of-type(2):hover {
    background-color: #666;
}


.cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 15px;
}

.card {
    background: #fff;
    padding: 15px 20px;
    border-left: 5px solid #0078D4;
    border-radius: 6px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
    transition: box-shadow 0.3s ease;
}

.card:hover {
    box-shadow: 0 4px 14px rgba(0, 0, 0, 0.1);
}

.card h4 {
    margin: 0;
    color: #0078D4;
}

.card p {
    margin: 6px 0;
    font-size: 14px;
    color: #444;
}

.card .label {
    font-weight: bold;
    color: #666;
}